<div class="panel-heading">
  <div class="col-xs-3">
    <h4>{{title}}</h4>
  </div>
  {{#if resources}}
  <div class="col-xs-9 pull-right">
    <div class="input-group input-group-sm">
      {{input type='search' class='form-control input-sm' placeholder='Search...' value=searchTerm}}
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
      </span>
    </div>
  </div>
  {{/if}}
</div>
<div class="panel-body">
  {{collection resourcesList
      content=searchResults
      targetRoute=targetRoute
      store=store}}
</div>
