<div class="panel-heading">
  <div class="col-xs-3">
    <h4>{{title}}</h4>
  </div>
  {{#if resources}}
  <div class="col-xs-9 pull-right">
    <div class="input-group input-group-sm">
      {{input type='search' class='form-control input-sm' placeholder='Search...' value=searchTerm}}
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
      </span>
    </div>
  </div>
  {{/if}}
</div>
<div class="panel-body">
  {{#if filteredResources}}
    {{collection resourcesList
        content=filteredResources
        targetRoute=targetRoute
        store=store}}
  {{else}}
    {{#if resources}}
    <div class="ember-list-view ember-list-view-list" style="height: 100%;">
      <div class="ember-list-item-view">
        <h4 class="ember-list-item-view-heading">
          No matches
        </h4>
      </div>
    </div>
    {{/if}}
  {{/if}}
</div>
