@mixin heading {
  margin: 0 0 .2em;
  padding: 0;
}

h1,
h2,
h3 {
  @include heading;

  font-size: 1.5em;
  line-height: 1.5em;
}

h4,
h5,
h6 {
  @include heading;

  font-size: 1.2em;
  line-height: 1.2em;
}

* {
  border-radius: 0 !important;
}


body {
  position: fixed;
  overflow: hidden;
}

.popover {
  position: relative;
}

@import 'variables';
@import 'layout';
@import 'panels';
@import 'graph';
@import 'modals';
@import 'navbar';
@import 'list-view';

@import 'ember-notify';
@import 'nprogress';
