h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.2em 0;
  padding: 0;
}
h1, h2, h3 {
  font-size: 1.5em;
  line-height: 1.5em;
}
h4, h5, h6 {
  font-size: 1.2em;
  line-height: 1.2em;
}

* {
  border-radius: 0 !important;
}

/*************************************************
main layout
*************************************************/

.container-fixed,
.navbar,
.panels,
.col,
.panel,
.panel-heading,
.panel-body {
  margin: 0;
}

.container-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.container-fixed .col {
  height: 100%;
  padding: 0;
  overflow-y: hidden;
  overflow-x: visible;
}

.navbar-collapse {
  background-color: #00bc8c;
}

.navbar-collapse.in {
  background-color: #00bc8c;
  border-bottom: 1px solid #009871;
}

.panels {
  height: 100%;
}

.panel-heading {
  font-size: 1.2em;
  padding-right: 0px;
}

.panel-heading .input-group {
  padding-left: 10px;
}

/*************************************************
list items and tags
*************************************************/

.list-group-item {
  cursor: default;
}
.list-group-item p {
  color: #888;
}
.list-group-item:hover {
  background-color: #222222;
}
.list-group-item:hover p {
  color: inherit;
}
.list-group-item .comment .badge  {
  background-color: inherit;
}

/* panels */
.panel {
  height: 100%;
  border-color: #00bc8c;
  border-top: medium none;
}

.panel .panel-heading {
  height: 2.8em;
  border: thin solid #00bc8c;
  border-left-width: 0;
  border-right-width: 0;
  border-top: medium none;
}

.panel .panel-body {
  height: 90%;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
}

.panel .panel-body::-webkit-scrollbar {
    display: none;
}

.panel .panel-body ul {
  list-style-type: none;
  padding: 0;
}

/**********************************
Modals
***********************************/

.modal-header .close {
  color: #ffffff;
}

.modal-content {
  background-color: #00bc8c;
}

.modal-header,
.modal-footer {
  background-color: #222222;
}

/**********************************
Notifications
-----------------------------------
This makes notifications appear from
top of the window rather than
the original bottom right corner
***********************************/

.ember-notify-cn {
  width: 100%;
  top: 0px;
}
.ember-notify {
  margin: 0px;
  width: 100%;
  top: -150px;
  left: 0px;
  right: 0px;
}

.ember-notify-cn .ember-notify-show {
  top: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
}

/**********************************
Loading Spinner
-----------------------------------
***********************************/

.loading-container .loading-square {
  margin:auto;
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  background-color:#009871;
  opacity:0.85;
  height:8px;
  width:30px;
  z-index: 1050;

  -webkit-animation: loading-animation 2.3s infinite;
  -moz-animation: loading-animation 2.3s infinite;
  animation: loading-animation 2.3s infinite;
}
.loading-container .loading-square div {
  position:absolute;
  background-color:#009871;
  opacity:0.85;
  width:100%;
  height:100%;
  top:6px;
  right:6px;

  -webkit-animation: loading-animation 2.3s infinite;
  -webkit-animation-timing-function: cubic-bezier(1,.45,.45,1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -moz-animation: loading-animation 2.3s cubic-bezier(1,.45,.45,1) infinite;
  animation: loading-animation 2.3s cubic-bezier(1,.45,.45,1) infinite;
}
.loading-container .loading-square div + div,
.loading-container .loading-square div + div div {
  position:absolute;
  background-color:#009871;
  height:100%;
  width:100%;
  top:-6px;
  right:-6px;
}
.loading-container .two {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);

  -webkit-animation: loading-color 2.3s infinite;
  -moz-animation: loading-color 2.3s infinite;
  animation: loading-color 2.3s infinite;
}

/* color animation only */
@-webkit-keyframes loading-color {
  25%{
    background-color: #375a7f;
  }
  50%{
    background-color: #009871;
  }
  75%{
    background-color: #375a7f;
  }
}
@-moz-keyframes loading-color-one {
  25%{
    background-color: #375a7f;
  }
  50%{
    background-color: #009871;
  }
  75%{
    background-color: #375a7f;
  }
}
@keyframes loading-color-one {
  25%{
    background-color: #375a7f;
  }
  50%{
    background-color: #009871;
  }
  75%{
    background-color: #375a7f;
  }
}
/* rotation and color animation */
@-webkit-keyframes loading-animation {
  25%{
    background-color: #375a7f;
    opacity:0.7;
  }
  50%{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background-color: #009871;
    opacity:0.85;
  }
  75%{
    background-color: #375a7f;
    opacity:0.7;
  }
}
@-moz-keyframes loading-animation {
  25%{
    background-color: #375a7f;
    opacity:0.7;
  }
  50%{
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    background-color: #009871;
    opacity:0.85;
  }
  75%{
    background-color: #375a7f;
    opacity:0.7;
  }
}
@keyframes loading-animation {
  25%{
    background-color: #375a7f;
    opacity:0.7;
  }
  50%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    background-color: #009871;
    opacity:0.85;
  }
  75%{
    background-color: #375a7f;
    opacity:0.7;
  }
}
