h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.2em 0;
    padding: 0;
}
h1, h2, h3 {
    font-size: 1.5em;
    line-height: 1.5em;
}
h4, h5, h6 {
    font-size: 1.2em;
    line-height: 1.2em;
}

* {
    border-radius: 0 !important;
}


/*************************************************
main layout
*************************************************/

.container-fixed,
.navbar,
.panels,
.col,
.panel,
.panel-heading,
.panel-body {
    margin: 0;
}

.container-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.container-fixed .col {
    height: 100%;
    padding: 0;
    overflow-y: hidden;
    overflow-x: visible;
}

.navbar {
    height: 8%;
    z-index: 2000;
}

.navbar-collapse {
    background-color: #00bc8c;
}

.navbar-collapse.in {
    background-color: #00bc8c;
    border-bottom: 1px solid #009871;
}

.panels {
    height: 92%;
}


/*************************************************
list items and tags
*************************************************/


.list-group-item {
    cursor: default;
}
.list-group-item:hover {
    background-color: #222222;
    color: #00bc8c;
}


/* panels */
.panel {
    height: 100%;
    border-color: #00bc8c;
}
#entities {
    border-left-width: 0;
    border-right-width: 0;
}

.panel .panel-heading {
    height: 2.8em;
    border: thin solid #00bc8c;
    border-left-width: 0;
    border-right-width: 0;
}

.panel .panel-body {
    height: 90%; /* fallback for non-calc() browsers */
    height: -webkit-calc(100% - 2.8em);
    height: -moz-calc(100% - 2.8em);
    height: calc(100% - 2.8em);
    padding: 0;
    overflow-x: visible;
    overflow-y: auto;
}

.panel .panel-body ul {
    list-style-type: none;
    padding: 0;
}


/**********************************
Modals
***********************************/

.modal-header .close {
    color: #ffffff;
}

.modal-content {
    background-color: #00bc8c;
}


/**********************************
Notifications
***********************************/

.ember-notify-cn {
    width: 100%;
    top: 0px;
}
.ember-notify {
    margin: 0px;
    width: 100%;
    top: -150px;
    left: 0px;
    right: 0px;
}

.ember-notify-cn .ember-notify-show {
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
}
/* alert-danger taking from Bootstrap */
.alert-error {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #ffffff;
}

.alert-error hr {
  border-top-color: #e43725;
}

.alert-error .alert-link {
  color: #e6e6e6;
}
