h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.2em 0;
  padding: 0;
}
h1, h2, h3 {
  font-size: 1.5em;
  line-height: 1.5em;
}
h4, h5, h6 {
  font-size: 1.2em;
  line-height: 1.2em;
}

* {
  border-radius: 0 !important;
}

/*************************************************
main layout
*************************************************/

.container-fixed,
.navbar,
.panels,
.col,
.panel,
.panel-heading,
.panel-body {
  margin: 0;
}

.container-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.container-fixed .col {
  height: 100%;
  padding: 0;
  overflow-y: hidden;
  overflow-x: visible;
}

.navbar-collapse {
  background-color: #00bc8c;
}

.navbar-collapse.in {
  background-color: #00bc8c;
  border-bottom: 1px solid #009871;
}

.panels {
  height: 100%;
}

.panel-heading {
  font-size: 1.2em;
  padding-right: 0px;
}

.panel-heading .input-group {
  padding-left: 10px;
}

/*************************************************
list items and tags
*************************************************/
.ember-list-container,
.ember-list-view {
  width: inherit;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ember-list-view {
  padding-left: 0;
  position: relative;
}
.ember-list-item-view {
  position: absolute;
  width: 100%;
  display: block;
  padding: 10px 5px 10px 15px;
  margin-bottom: -1px;
  background-color: #303030;
  border: 1px solid #464545;
}
.ember-list-item-view:hover {
  background-color: #222222;
}
.ember-list-item-view:hover p {
  color: inherit;
}
.ember-list-item-view:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.ember-list-item-view:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.ember-list-item-view > .badge {
  float: right;
}
.ember-list-item-view > .badge + .badge {
  margin-right: 5px;
}
a.ember-list-item-view {
  color: #0ce3ac;
}
a.ember-list-item-view .ember-list-item-view-heading {
  color: #0bcb9a;
}
a.ember-list-item-view:hover,
a.ember-list-item-view:focus {
  text-decoration: none;
  color: #0ce3ac;
  background-color: transparent;
}

.ember-list-item-view.active,
.ember-list-item-view.active:hover,
.ember-list-item-view.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #00bc8c;
  border-color: #00bc8c;
}
.ember-list-item-view.active .ember-list-item-view-heading,
.ember-list-item-view.active:hover .ember-list-item-view-heading,
.ember-list-item-view.active:focus .ember-list-item-view-heading,
.ember-list-item-view.active .ember-list-item-view-heading > small,
.ember-list-item-view.active:hover .ember-list-item-view-heading > small,
.ember-list-item-view.active:focus .ember-list-item-view-heading > small,
.ember-list-item-view.active .ember-list-item-view-heading > .small,
.ember-list-item-view.active:hover .ember-list-item-view-heading > .small,
.ember-list-item-view.active:focus .ember-list-item-view-heading > .small {
  color: inherit;
}
.ember-list-item-view.active .ember-list-item-view-text,
.ember-list-item-view.active:hover .ember-list-item-view-text,
.ember-list-item-view.active:focus .ember-list-item-view-text {
  color: #89ffe1;
}
.ember-list-item-view-heading {
  margin-top: 0;
  margin-bottom: 5px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ember-list-item-view-text {
  color: #888;
  margin-bottom: 0;
  line-height: 1.3;
}
a.ember-list-item-view.active > .badge,
.nav-pills > .active > a > .badge {
  color: #375a7f;
  background-color: #ffffff;
}
.ember-list-item-view .comment .badge  {
  background-color: inherit;
}

.comment .glyphicon {
  font-size: 1.2em;
  cursor: pointer;
}

/* panels */
.panel {
  height: 100%;
  border-color: #00bc8c;
  border-top: medium none;
}

.panel .panel-heading {
  height: 2.8em;
  border: thin solid #00bc8c;
  border-left-width: 0;
  border-right-width: 0;
  border-top: medium none;
}

.panel .panel-body {
  height: 90%;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
}

.panel .panel-body::-webkit-scrollbar {
    display: none;
}

.panel .panel-body ul {
  list-style-type: none;
  padding: 0;
}

/* graph */
.graph {
  width: 100%;
  height: 100%;
}

/**********************************
Modals
***********************************/

.modal-header .close {
  color: #ffffff;
}

.modal-content {
  background-color: #00bc8c;
}

.modal-header,
.modal-footer {
  background-color: #222222;
}

/**********************************
Notifications
-----------------------------------
This makes notifications appear from
top of the window rather than
the original bottom right corner
***********************************/

.ember-notify-cn {
  width: 100%;
  top: 0px;
}
.ember-notify {
  margin: 0px;
  width: 100%;
  top: -150px;
  left: 0px;
  right: 0px;
}

.ember-notify-cn .ember-notify-show {
  top: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
}

/**********************************
Loading Spinner
-----------------------------------
***********************************/

#loading-container .loading-square {
  margin:auto;
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  background-color:#009871;
  opacity:0.85;
  height:8px;
  width:30px;
  z-index: 1050;

  -webkit-animation: loading-animation 2.3s infinite;
  -moz-animation: loading-animation 2.3s infinite;
  animation: loading-animation 2.3s infinite;
}
#loading-container .loading-square div {
  position:absolute;
  background-color:#009871;
  opacity:0.85;
  width:100%;
  height:100%;
  top:6px;
  right:6px;

  -webkit-animation: loading-animation 2.3s infinite;
  -webkit-animation-timing-function: cubic-bezier(1,.45,.45,1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -moz-animation: loading-animation 2.3s cubic-bezier(1,.45,.45,1) infinite;
  animation: loading-animation 2.3s cubic-bezier(1,.45,.45,1) infinite;
}
#loading-container .loading-square div + div,
#loading-container .loading-square div + div div {
  position:absolute;
  background-color:#009871;
  height:100%;
  width:100%;
  top:-6px;
  right:-6px;
}
#loading-container .two {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);

  -webkit-animation: loading-color 2.3s infinite;
  -moz-animation: loading-color 2.3s infinite;
  animation: loading-color 2.3s infinite;
}

/* color animation only */
@-webkit-keyframes loading-color {
  25%{
    background-color: #375a7f;
  }
  50%{
    background-color: #009871;
  }
  75%{
    background-color: #375a7f;
  }
}
@-moz-keyframes loading-color-one {
  25%{
    background-color: #375a7f;
  }
  50%{
    background-color: #009871;
  }
  75%{
    background-color: #375a7f;
  }
}
@keyframes loading-color-one {
  25%{
    background-color: #375a7f;
  }
  50%{
    background-color: #009871;
  }
  75%{
    background-color: #375a7f;
  }
}
/* rotation and color animation */
@-webkit-keyframes loading-animation {
  25%{
    background-color: #375a7f;
    opacity:0.7;
  }
  50%{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background-color: #009871;
    opacity:0.85;
  }
  75%{
    background-color: #375a7f;
    opacity:0.7;
  }
}
@-moz-keyframes loading-animation {
  25%{
    background-color: #375a7f;
    opacity:0.7;
  }
  50%{
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    background-color: #009871;
    opacity:0.85;
  }
  75%{
    background-color: #375a7f;
    opacity:0.7;
  }
}
@keyframes loading-animation {
  25%{
    background-color: #375a7f;
    opacity:0.7;
  }
  50%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    background-color: #009871;
    opacity:0.85;
  }
  75%{
    background-color: #375a7f;
    opacity:0.7;
  }
}
