.panels {
  height: 100%;
}

.panel {
  border-color: $panel-border-color;
  border-top: medium none;
  height: 100%;

  .panel-heading {
    border: thin solid $panel-border-color;
    border-left-width: 0;
    border-right-width: 0;
    border-top: medium none;
    height: 2.8em;


    .input-group {
      padding-left: 10px;
    }
  }

  .panel-body {
    height: calc(100% - 2.8em);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;

    word-wrap: break-word;

    &ul {
      list-style-type: none;
      padding: 0;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.panel-primary > .panel-heading {
  background-color: $green-color;
  font-size: 1.2em;
  padding-right: 0;
}
