$green-color: #009871;
$dark-green: #00bc8c;
$blue-color: #375a7f;

$nprogress-color: $blue-color;

$node-color: #fff;
$link-color: #999;

$modal-bg: #222;
$modal-content-bg: $dark-green;
$modal-close-color: #fff;

$panel-border-color: $dark-green;
