<div class="input-group" id="queryButton">
  <div class="input-group-addon glyphicon glyphicon-ok"></div>
  {{input type='button' class='form-control' placeholder='None' title=selection value=selection}}
</div>
