<div class="input-group">
  <div class="input-group-btn">
    <button id="queryButton" type="button" class="btn btn-default" aria-expanded="true">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </button>
  </div>
  {{input type='button' class='form-control' placeholder='None' value=selection}}
</div>
