/* color palette as per 
   http://paletton.com/#uid=30n0L0kbn++00++69++fM++jS+U*/

body {
    font-family: Verdana, Geneva, sans-serif !important;
    color: #333333;
    background-color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.2em 0;
    padding: 0;
}
h1, h2, h3 {
    font-weight: bolder;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #b0b0b0;
    text-shadow: 0 0.1em 0.1em #ddd;
}
h4, h5, h6 {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.2em;
    color: #b0b0b0;
    text-shadow: 0 0.05em 0.05em #ddd;
}
#main_container, #endpoint_container {
    overflow: visible;
    padding: 0.5em;
    margin: 0.2em 0;
    background-color: inherit;
    border: 1px solid #c5c5c5;
}

/* list items and tags */
.item-wrapper {
    position: relative;
}
.type, .entity {
    position: relative;
    cursor: default;
}
.type {
    background-color: #e5e8ff;
    border: 1px solid #ccd0ff;
}
.entity {
    background-color: #ECFFCE;
    border: 1px solid #b7ff42;
}
.selected {
    border-color: #333333;
    border-style: dashed;
    border-width: 1px;
    font-weight: bold;
}
.type:hover, .entity:hover {
    background-color: #ffffff;
}
    

/* tooltips - requires relative positioning of list items */
.type + div.tooltip, .entity + div.tooltip {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1;
    border-style: dotted;
    background-color: white;
    font-weight: normal;
    padding: 0 1em;
    visibility: hidden;
}
.type:hover + div.tooltip, .entity:hover + div.tooltip {
    visibility:visible;
}

.type + div.tooltip:hover, .entity + div.tooltip:hover {
    visibility:visible;
}

/* types and entities columns */
.column ul {
	list-style-type: none;
    padding: 0 0 1em 0;
    margin: 0;
}
.column li {
    padding: 0.3em;
}

/* selection bar */
#selection_bar {
    margin: 0.5em 0 0.5em 0;
	list-style-type: none;
    padding: 0;
}
#selection_bar .type, #selection_bar .entity {
	display: inline-block;
    padding: 0.1em 0.3em 0.1em 0.3em;
}
#selection_bar .deselect {
    position: relative;
    display:inline-block;
    margin: 0em 0 -.2em 0;
    height: 1.2em;
    width: 1.2em;
    background-image: url("xIcon.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:top;
    opacity: 0.3;
    cursor: pointer;
}
#selection_bar .deselect:hover {
    opacity: 0.7;
}
#selection_bar div.item-wrapper {
    display: inline-block;
}
#selection_bar div.tooltip {
    top: 1.3em;
    left: 0;
}

/* entity selection window */
#endpoint_selector {
    padding: 1em 0;
    display: inline-block;
}
.button {
    display: inline-block;
    background-color: #f1f1f1;
    color: #333333;
    font-size: 1em;
    line-height: 1em;
    padding: 0.5em 1em;
    cursor: pointer;
    border: 1px solid #c5c5c5;
    box-shadow: inset 0 1px 4px #f9f9f9;
    text-shadow: -1px -1px 1px #fff;
}
.button:hover {
    background-color: #fbfbfb;
}
#endpoint_form {
    position: absolute;
    top: 15%;
    left: 50%;
    padding: 2em;
    background-color: #fff;
    border: 2px solid #c5c5c5;
    
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
#endpoint_modal label.close {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    width: 20px;
    background-image: url("xIcon.png");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.3;
    cursor: pointer;
}
#endpoint_modal label.close:hover {
    opacity: 0.7;
}
#endpoint_modal h4 {
    position: absolute;
    top: 1em;
    left: 1.5em;
}
#endpoint_modal h4 + input {
    display: block;
    margin-top: 3em;
    margin-bottom: 1em;
    position: relative;
}
#endpoint_modal input {
    width: 40em;
    height: 2.4em;
    padding: 0 1.5em;
    border: 1px solid #c5c5c5;
    color: #333333;
}
#endpoint_modal input:focus {
    outline: 0;
    box-shadow: 0 0 2px #c5c5c5;
}
#modal-toggle, #endpoint_modal {
    display: none;
}
#modal-toggle:checked + div {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(50,50,50,0.90);
    z-index: 1000;
}

/*
column layout adapted from
matthewjamestaylor.com/blog/equal-height-columns-cross-browser-css-no-hacks
*/
#visual_container {
	clear:left;
	float:left;
	width:100%;
	overflow:visible;
    position:relative;
}
#entities_container {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:60%;
}
#types_container {
	float:left;
	width:100%;
	position:relative;
	right:20%;
}
#types {
	float:left;
	width:20%;
	position:relative;
	left:80%;
	overflow:visible;
}
#entities {
	float:left;
	width:20%;
	position:relative;
	left:80%;
	overflow:visible;
}
#visual {
	float:left;
	width:60%;
	position:relative;
	left:80%;
	overflow:visible;
}
.clearfix {
    clear:both;
}
