h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.2em 0;
    padding: 0;
}
h1, h2, h3 {
    font-weight: bolder;
    font-size: 1.5em;
    line-height: 1.5em;
}
h4, h5, h6 {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.2em;
}



/*************************************************
list items and tags
*************************************************/


.list-group-item {
    cursor: default;
}
.list-group-item:hover {
    background-color: #222222;
}
    


/************************************************************
tooltips
************************************************************/



.type + div.tooltip, .entity + div.tooltip {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1000;
    border-style: dotted;
    background-color: white;
    font-weight: normal;
    padding: 0 1em;
    visibility: hidden;
}
.type:hover + div.tooltip, .entity:hover + div.tooltip {
    visibility:visible;
}

.type + div.tooltip:hover, .entity + div.tooltip:hover {
    visibility:visible;
}

/* types and entities columns */
#types, #entities {
    height: 100%;
}

#types .panel-body , #entities .panel-body {
    height: 100%;
    overflow-x: visible;
    overflow-y: auto;
}

#types ul, #entities ul {
	list-style-type: none;
    padding: 0;
    margin: 0;
}



/*********************************************
selection bar
*********************************************/



#selection_bar {
    padding-left: 1em;
    overflow-y: visible;
}
#selection_bar ul {
    margin: 0.5em 0 0.5em 0;
	list-style-type: none;
    padding: 0;
}
#selection_bar .list-group-item {
    padding: 0.5em 0.5em;
    display: inline-block;
    border-radius: 0.2em;
}
#selection_bar .deselect {
    position: relative;
    display:inline-block;
    margin: 0em 0 -.2em 0;
    height: 1.2em;
    width: 1.2em;
    background-image: url("xIcon.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:top;
    opacity: 0.3;
    cursor: pointer;
}
#selection_bar .deselect:hover {
    opacity: 0.7;
}
#selection_bar div.tooltip {
    top: 1.3em;
    left: 0;
}



/**********************************
entity selection window
***********************************/



#endpoint_selector {
    text-align: right;
    display: inline-block;
    padding-right: 1em;
}
#endpoint_selector small {
    color: #999;
    cursor:pointer;
}
.button {
    display: inline-block;
    background-color: #f1f1f1;
    color: #333333;
    font-size: 1em;
    line-height: 1em;
    padding: 0.5em 1em;
    cursor: pointer;
    border: 1px solid #c5c5c5;
    box-shadow: inset 0 1px 4px #f9f9f9;
    text-shadow: -1px -1px 1px #fff;
}
.button:hover {
    background-color: #fbfbfb;
}
#endpoint_form {
    position: absolute;
    top: 15%;
    left: 50%;
    padding: 2em;
    background-color: #fff;
    border: 2px solid #c5c5c5;
    
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
#endpoint_modal label.close {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    width: 20px;
    background-image: url("xIcon.png");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.3;
    cursor: pointer;
}
#endpoint_modal label.close:hover {
    opacity: 0.7;
}
#endpoint_modal h4 {
    position: absolute;
    top: 1em;
    left: 1.5em;
}
#endpoint_modal h4 + input {
    display: block;
    margin-top: 3em;
    margin-bottom: 1em;
    position: relative;
}
#endpoint_modal input {
    width: 40em;
    height: 2.4em;
    padding: 0 1.5em;
    border: 1px solid #c5c5c5;
    color: #333333;
}
#endpoint_modal input:focus {
    outline: 0;
    box-shadow: 0 0 2px #c5c5c5;
}
#modal-toggle, #endpoint_modal {
    display: none;
}
#modal-toggle:checked + div {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(50,50,50,0.90);
    z-index: 1000;
}



/***********************************************
vertical grid layout adapted from
https://gist.github.com/metaist/7632393
************************************************/



.container-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.container-fixed .col {
    height: 100%;
    padding: 0;
    overflow-x: visible;
    overflow-y: hidden;
}

.row {
    margin: 0;
}

.row-xs-12 { height: 100%; }
.row-xs-11 { height: 91.66666666666666%; }
.row-xs-10 { height: 83.33333333333334%; }
.row-xs-9 { height: 75%; }
.row-xs-8 { height: 66.66666666666666%; }
.row-xs-7 { height: 58.333333333333336%; }
.row-xs-6 { height: 50%; }
.row-xs-5 { height: 41.66666666666667%;}
.row-xs-4 { height: 33.33333333333333%;}
.row-xs-3 { height: 25%; }
.row-xs-2 { height: 16.666666666666664%; }
.row-xs-1 { height: 8.333333333333332%; }
