/* color palette as per 
   http://paletton.com/#uid=30n0L0kbn++00++69++fM++jS+U*/

body {
    font-family: Verdana, Geneva, sans-serif;
    color: #333333;
    background-color: #ffffff;
}
h1, h2, h3 {
    font-weight: bolder;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #c0c0c0;
    text-shadow: 0 0.1em 0.1em #ddd;
}
h4, h5, h6 {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.2em;
    color: #c0c0c0;
    text-shadow: 0 0.05em 0.05em #ddd;
}
#main_container {
    overflow: visible;
    padding: 0.5em;
    background-color: inherit;
    border: 1px solid #c5c5c5;
}

/* list items and tags */
.item-wrapper {
    position: relative;
}
.type, .entity {
    position: relative;
    cursor: default;
}
.type {
    background-color: #e5e8ff;
    border: 1px solid #ccd0ff;
}
.entity {
    background-color: #ECFFCE;
    border: 1px solid #b7ff42;
}
.selected {
    border-color: #333333;
    border-style: dashed;
    border-width: 1px;
    font-weight: bold;
}
.type:hover, .entity:hover {
    background-color: #ffffff;
}
    

/* tooltips - requires relative positioning of list items */
.type + div.tooltip, .entity + div.tooltip {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1;
    border-style: dotted;
    background-color: white;
    font-weight: normal;
    padding: 0 1em;
    visibility: hidden;
}
.type:hover + div.tooltip, .entity:hover + div.tooltip {
    visibility:visible;
}

.type + div.tooltip:hover, .entity + div.tooltip:hover {
    visibility:visible;
}

/* types and entities columns */
.column ul {
	list-style-type: none;
    padding: 0 0 1em 0;
    margin: 0;
}
.column li {
    padding: 0.3em;
}

/* selection bar */
#selection_bar {
    margin: 0.5em 0 0.5em 0;
	list-style-type: none;
    padding: 0;
}
#selection_bar .type, #selection_bar .entity {
	display: inline-block;
    padding: 0.1em 0.3em 0.1em 0.3em;
}
#selection_bar .deselect {
	font-family:sans-serif;
    font-weight:bold;
    font-size:0.6em;
    color:#aaaaaa;
}
#selection_bar div.item-wrapper {
    display: inline-block;
}
#selection_bar div.tooltip {
    top: 1.3em;
    left: 0;
}

/*
column layout adapted from
matthewjamestaylor.com/blog/equal-height-columns-cross-browser-css-no-hacks
*/
#visual_container {
	clear:left;
	float:left;
	width:100%;
	overflow:visible;
    position:relative;
}
#entities_container {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:60%;
}
#types_container {
	float:left;
	width:100%;
	position:relative;
	right:20%;
}
#types {
	float:left;
	width:20%;
	position:relative;
	left:80%;
	overflow:visible;
}
#entities {
	float:left;
	width:20%;
	position:relative;
	left:80%;
	overflow:visible;
}
#visual {
	float:left;
	width:60%;
	position:relative;
	left:80%;
	overflow:visible;
}
