{{#modal-dialog action="close" name="error" title="Error"}}
<div class="modal-body">
  <h1 class="text-center">{{model}}</h1>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" {{action "close"}}>Close</button>
</div>
{{/modal-dialog}}
