
<ul class="list-group">
    <div class="list-group-item">
        <li>
            <h4>The Thing from Another World</h4>
            <p>This is a string of comment comment comment comment. Woooooooooooooooooooooot.</p>
        </li>
    </div>
    <div class="list-group-item">
        <li>
            <h4>Rebel Without a Cause</h4>
            <p>Comment comment word this is the thing in my brain right now, it comes out.</p>
        </li>
    </div>
    <div class="list-group-item">
        <li>
            <h4>The Day the Earth Stood Still</h4>
            <p>These are the comment strings that I stream from my consciousness today. Butt.</p>
        </li>
    </div>
    <div class="list-group-item">
        <li>
            <h4>Streetcar Named Desire</h4>
            <p>Comment comment word this is the thing in my brain right now, it comes out.</p>
        </li>
    </div>
    <div class="list-group-item">
        <li>
            <h4>Invasion of the Body Snatchers</h4>
            <p>These are the comment strings that I stream from my consciousness today. Butt.</p>
        </li>
    </div>
    <div class="list-group-item">
        <li>
            <h4>The Bridge on the River Kwai</h4>
            <p>These are the comment strings that I stream from my consciousness today. Butt.</p>
        </li>
    </div>
    <div class="list-group-item">
        <li>
            <h4>Ben-Hur</h4>
            <p>These are the comment strings that I stream from my consciousness today. Butt.</p>
        </li>
    </div>
    <div class="list-group-item">
        <li>
            <h4>Vertigo</h4>
            <p>These are the comment strings that I stream from my consciousness today. Butt.</p>
        </li>
    </div>
    <div class="list-group-item">
        <li>
            <h4>Rear Window</h4>
            <p>These are the comment strings that I stream from my consciousness today. Butt.</p>
        </li>
    </div>
    <div class="list-group-item">
        <li>
            <h4>Dial M for Murder</h4>
            <p>These are the comment strings that I stream from my consciousness today. Butt.</p>
        </li>
    </div>
</ul>
