<div class="loading-container">
    <div class="loading-square">
        <div><div><div><div><div><div><div></div></div></div></div></div></div></div>
        <div><div><div><div><div><div><div></div></div></div></div></div></div></div>
    </div>
    <div class="loading-square two">
        <div><div><div><div><div><div><div></div></div></div></div></div></div></div>
        <div><div><div><div><div><div><div></div></div></div></div></div></div></div>
    </div>
</div>
