<div class="panel panel-primary">
  <div class="panel-heading">Predicate View</div>
    <div class="panel-body">

      {{graph-view
        selected=selected
        resources=predicates}}
    </div>
</div>
