<div class="panel panel-primary">
  <div class="panel-heading"><div class="col-xs-3"><h4>Features</h4></div></div>
    <div class="panel-body">

      {{graph-view
        selected=selected
        resources=predicates}}
    </div>
</div>
