<ul class="list-group">
    {{#each things}}
    {{#link-to 'endpoint.predicates' 'all' uri tagName='li' classNames='list-group-item'}}
            <h4 style="list-group-item-heading">
            {{#if labels.default}}
                {{labels.default}}
            {{else}}
                {{labels.en}}
            {{/if}}
            </h4>
    {{/link-to}}
    {{/each}}
</ul>
