<ul class="list-group">
    {{#each}}
        <div class="list-group-item">
            {{#link-to 'endpoint.predicates' 'all' uri}}
            <li>
                <h4>
                {{#if labels.default}}
                    {{labels.default}}
                {{else}}
                    {{labels.en}}
                {{/if}}
                </h4>
            </li>
            {{/link-to}}
        </div>
    {{/each}}
</ul>
