<ul class="list-group">
    {{#each}}
        <div class="list-group-item">
            <li>
                <h4>
                {{#if labels.default}}
                    {{labels.default}}
                {{else}}
                    {{labels.en}}
                {{/if}}
                </h4>
            </li>
        </div>
    {{else}}
        <div class="list-group-item">
            <li>
                <h4>No result!</h4>
            </li>
        </div>
    {{/each}}
</ul>
