<div class="container-fixed">
  <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6">
          {{outlet selected-list}}
        </div>
        <div class="col-xs-6">
          {{outlet endpoint-selector}}
        </div>
      </div>
    </div>
  </nav>
  <div class="row panels">
    {{outlet}}
  </div>
</div>
{{outlet modal}}
