<ul {{action 'openModal' 'endpoint'}} class="nav navbar-nav navbar-right">
  {{#if url}}
  <li><button type="button" class="btn btn-default navbar-btn">@</button></li>
  <li class="list-group-item navbar-btn disabled">{{url}}</li>
  {{else}}
  <li class="list-group-item navbar-btn disabled">Enter an endpoint to start</li>
  {{/if}}
</ul>
